/* ==========================================================================
   Pages - LegalPage
   ========================================================================== */

.legal-main-wrapper {
    display: flex;
}

.legal__aside {
    flex: 1 0 300px;

    padding-right: 20px;
}

.legal__main {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}
