<div class="legal-icon-text-pp">
    <figure class="">
        {% if resource.icon is not empty %}
            <img src="{{ asset(resource.icon.url) }}">
        {% endif %}
    </figure>
    <div>{{ resource.title }}</div>
    <h5>{{ resource.subtitle }}</h5>
    <p>{{ resource.content | replace_url | raw }}</p>
</div>
