<div class="legal-fact">
    <hgroup class="legal-fact__header">
        <p class="legal-fact__title">{{ resource.title }}</p>
        <h3 class="legal-fact__subtitle">{{ resource.subtitle }}</h3>
    </hgroup>

    <figure class="legal-fact__figure">
        <img src="{{ asset(resource.icon.url) }}" alt="" class="legal-fact__figure__image">
    </figure>

    <div class="legal-fact__content">
        {{ resource.content | replace_url | raw }}
    </div>
</div>
