/* ==========================================================================
   Structures - Cookiebar
   ========================================================================== */

.kumacookiebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;

    z-index: $legal_z-cookie-bar;

    padding: 35px 0 35px;

    background: $legal_grey;


    &--show {
        display: block;
    }

    h2 {
        margin: 0 0 30px;

        font: {
            size: 33px;
        }

        color: $legal_headings;
    }

    @media (min-width: $legal_screen-md) {
        bottom: 15px;
        left: 15px;
        right: 15px;

        cursor: default;

        border-bottom: none;
    }
}

.legal-title {
    display: flex;

    margin: 0 0 10px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font: {
        size: 18px;
    }

    color: $legal_headings;

    cursor: pointer;

    span {
        pointer-events: none;
    }

    @media (min-width: $legal_screen-xs) {
        cursor: default;
    }
}

.legal-title__icon {
    width: 14px;
    height: 14px;

    fill: $legal_primary-color;

    pointer-events: none;

    transition: transform .2s ease;

    .open & {
        transform: rotateZ(180deg);
    }

    @media (min-width: $legal_screen-xs) {
        display: none;
    }
}

.legal-paragraph__container {
    position: relative;

    padding: 0;
    margin-bottom: 10px;

    overflow: hidden;

    border-bottom: 1px solid $legal_grey--dark;

    @media (min-width: $legal_screen-xs) {
        border-bottom: none;
    }
}

.legal-paragraph {
    transition: margin-top .2s ease;
}

.legal-footer {
    margin-top: 5px;
}

.legal-footer__preferences {
    display: flex;
    margin-top: 20px;

    justify-content: center;
    flex-wrap: wrap;

    &__first {
        display: none;
        width: 370px;
        padding-right: 30px;

        align-self: flex-end;

        font: {
            size: 14px;
        }

        line-height: 2;

        order: 1;

        &--mobile {
            margin-top: 20px;

            order: 2;

            @media (min-width: $legal_screen-sm) {
                display: none;
            }
        }

        @media (min-width: $legal_screen-sm) {
            display: block;
        }
    }

    &__second {
        display: flex;
        width: 100%;
        margin-top: 20px;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        font: {
            size: 16px;
        }

        order: 1;

        @media (min-width: $legal_screen-xs) {
            margin-top: 0;
        }

        @media (min-width: $legal_screen-sm) {
            width: auto;

            order: 2;
            align-items: flex-end;
        }
    }

    @media (min-width: $legal_screen-xs) {
        margin-top: 0;
    }

    @media (min-width: $legal_screen-sm) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
