/* ==========================================================================
   Structures - Cookiebar
   ========================================================================== */

#kumacookiebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 49;
    background: #faf7f5;
}
