/* ==========================================================================
   Structures - Fact
   ========================================================================== */

/* General
   ========================================================================== */
$legal-fact__figure-width: 150px;

.legal-fact {
    display: flex;
    margin: 30px auto;
    padding: 30px;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    background-color: $legal_grey;

    @media (min-width: $legal_screen-sm) {
        position: relative;

        padding-right: $legal-fact__figure-width;
    }
}

.legal-fact__header {
    max-width: none;

    flex: 1 1 auto;

    @media (min-width: $legal_screen-xs) {
        max-width: calc(100% - #{$legal-fact__figure-width});
    }

    @media (min-width: $legal_screen-sm) {
        max-width: 100%;
    }
}

.legal-fact__title {
    margin-top: 0;
    margin-bottom: 10px;

    font: {
        size: 14px;
        weight: 600;
    }

    text-transform: uppercase;
}

.legal-fact__subtitle {
    margin-top: 0;
    margin-bottom: 20px;

    font: {
        size: 16px;
        weight: 400;
    }
}

.legal-fact__figure {
    display: none;
    width: $legal-fact__figure-width;
    margin: 0;

    flex: 0 0 $legal-fact__figure-width;

    @media (min-width: $legal_screen-xs) {
        display: block;
    }

    @media (min-width: $legal_screen-sm) {
        position: absolute;
        top: 50%;
        right: 0;

        transform: translateY(-50%);
    }
}

.legal-fact__figure__image {
    display: block;
    width: $legal-fact__figure-width;
    height: $legal-fact__figure-width;
}

.legal-fact__content {
    width: 100%;
}