/* ==========================================================================
   Structures - Legal cookies pagepart
   ========================================================================== */

/* General
   ========================================================================== */

.legal-cookies {
    counter-reset: cookie;
}

/* Toggle
   ========================================================================== */

.legal-toggle-container {
    display: flex;

    padding: 10px 20px 10px 10px;

    align-items: center;
    justify-content: space-between;

    border: 1px solid $legal_grey--dark;

    border-radius: 25px;
}

.legal-toggle__always {
    display: flex;

    margin-left: 5px;

    align-items: center;
}

.legal-toggle-name {
    display: block;

    margin-bottom: 5px;

    font: {
        weight: 500;
        size: 24px;
    }

    &:before {
        counter-increment: cookie;
        content: counter(cookie) ".";
    }
}

.legal-toggle {
    position: relative;

    display: inline-flex;
    height: calc(#{$legal-toggle-size} - #{floor($legal-toggle-size * .2)});
    margin: 0 10px;

    cursor: pointer;

    align-items: center;
}

.legal-toggle__text {
    margin: 0 5px;
}

.legal-toggle__link {
    text-decoration: none;
}

.legal-toggle__link__desktop {
    display: none;
    
    @media (min-width: $legal_screen-xs) {
        display: block;
    }
}

.legal-toggle__link__mobile {
    display: block;
    
    @media (min-width: $legal_screen-xs) {
        display: none;
    }
}

.legal-toggle__input {
    display: none;

    + .legal-toggle__slider {
        position: relative;

        width: $legal-toggle-slider-range;
        height: calc(#{$legal-toggle-size} - #{floor($legal-toggle-size * .2)});

        background-color: $legal_grey;
        border-radius: 25px;
        box-shadow: inset 0 1px 2px rgba($legal_true-black, 0.13);

        &:before {
            content: url(../../frontend/img/legal/svg/toggle--cross.svg);

            padding: 0 (($legal-toggle-size / 2) - 4);

            position: absolute;
            top: ceil(-$legal-toggle-size * .1);
            left: ceil(-$legal-toggle-size * .1);

            width: $legal-toggle-size;
            height: $legal-toggle-size;

            border-radius: 25px;

            background-color: $legal_grey--dark;

            transition: all .2s ease;

            line-height: $legal-toggle-size;

            box-shadow: 1px 1px 1px rgba($legal_true-black, .13);
        }
    }

    ~ .legal-toggle__text {
        margin: 0 0 0 10px;

        .legal-toggle__text--true {
            display: none;
        }

        .legal-toggle__text--false {
            display: inline-block;
        }
    }
    &:checked {
        + .legal-toggle__slider {
            &:before {
                content: url(../../frontend/img/legal/svg/toggle--check.svg);

                left: calc(100% - (#{$legal-toggle-size} - #{floor($legal-toggle-size * .1)}));

                padding: 0 (($legal-toggle-size / 2) - 5);

                background-color: $legal_secondary-color;
            }
        }

        ~ .legal-toggle__text {
            .legal-toggle__text--true {
                display: inline-block;
            }

            .legal-toggle__text--false {
                display: none;
            }
        }
    }
}