/* ==========================================================================
   Structures - Legal Sidebar
   ========================================================================== */

/* General
   ========================================================================== */

.legal-sidebar {
    position: absolute;
    top: 30px;
    right: 0;

    z-index: $legal_z-sidebar;

    width: 100%;
    height: calc(100% - 30px);
    padding: 20px;

    background-color: $legal_white;

    transform: translateX(100%);

    transition: all .2s ease;

    overflow-y: scroll;

    .legal-modal--open & {
        transform: translateX(0);
    }
}

.legal-sidebar__content-wrapper {
    @media (min-width: $legal_screen-md) {
        padding: 0 90px;
    }
}

.legal-sidebar__back {
    display: flex;

    align-items: center;

    text-decoration: none;
}

.legal-sidebar__back__text {
    margin-left: 15px;
}

.legal-sidebar__back__icon {
    width: 17px;
    height: 17px;

    transform: rotateZ(90deg);
}

