/* ==========================================================================
   Structures - TABS
   ========================================================================== */

.legal-tabs-wrapper {
    .legal-state {
        position: absolute;
        left: -10000px;
    }

    .legal-tabs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .legal-tab {
            flex-grow: 1;
            text-align: center;
            padding: 10px;
        }

        .panel {
            background-color: $kumac_white;
            padding: 20px 40px;
            min-height: 300px;
            display: none;
            width: 100%;
            flex-basis: auto;
        }
    }

    .legal-tab {
        display: inline-block;
        padding: 10px;
        vertical-align: top;
        background-color: #eee;
        cursor: pointer;

        &:hover {
            background-color: darken(#eeeeee, 25);
        }
    }
}
#tab-legal_privacy_policy:checked ~ .legal-tabs #tab-legal_privacy_policy-label,
#tab-legal_cookie_preferences:checked ~ .legal-tabs #tab-legal_cookie_preferences-label,
#tab-legal_contact:checked ~ .legal-tabs #tab-legal_contact-label {
    background-color: $kumac_white;

    font-weight: 500;

    cursor: default;
}
#tab-legal_privacy_policy:checked ~ .legal-tabs #tab-legal_privacy_policy-panel,
#tab-legal_cookie_preferences:checked ~ .legal-tabs #tab-legal_cookie_preferences-panel,
#tab-legal_contact:checked ~ .legal-tabs #tab-legal_contact-panel {
    display: block;
}