/* ==========================================================================
   Structures - TABS
   ========================================================================== */

.legal-tabs-wrapper {
    .legal-state {
        position: absolute;
        left: -10000px;
    }

    .legal-tabs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .legal-tab {
            flex-grow: 1;
            text-align: center;
            padding: 10px;
        }

        .panel {
            background-color: #fff;
            padding: 20px;
            min-height: 300px;
            display: none;
            width: 100%;
            flex-basis: auto;
        }
    }

    .legal-tab {
        display: inline-block;
        padding: 10px;
        vertical-align: top;
        background-color: #eee;
        cursor: pointer;
        border-left: 10px solid #ccc;

        &:hover {
            background-color: #fff;
        }
    }
}
#tab-legal_privacy_policy:checked ~ .legal-tabs #tab-legal_privacy_policy-label,
#tab-legal_cookie_preferences:checked ~ .legal-tabs #tab-legal_cookie_preferences-label,
#tab-legal_contact:checked ~ .legal-tabs #tab-legal_contact-label {
    background-color: #fff;
    cursor: default;
    border-left-color: #69be28;
}
#tab-legal_privacy_policy:checked ~ .legal-tabs #tab-legal_privacy_policy-panel,
#tab-legal_cookie_preferences:checked ~ .legal-tabs #tab-legal_cookie_preferences-panel,
#tab-legal_contact:checked ~ .legal-tabs #tab-legal_contact-panel {
    display: block;
}
@media (max-width: 600px) {
    .legal-tabs {
        flex-direction: column;

        .legal-tab {
            background: #fff;
            border-bottom: 1px solid #ccc;

            &:last-of-type {
                border-bottom: none;
            }
        }

        #tab-legal_privacy_policy-label {order: 1;}
        #tab-legal_cookie_preferences-label {order: 3;}
        #tab-legal_contact-label {order: 5;}

        #tab-legal_privacy_policy-panel {order: 2;}
        #tab-legal_cookie_preferences-panel {order: 4;}
        #tab-legal_contact-panel {order: 6;}
    }

    #tab-legal_privacy_policy:checked ~ .legal-tabs #tab-legal_privacy_policy-label,
    #tab-legal_cookie_preferences:checked ~ .legal-tabs #tab-legal_cookie_preferences-label,
    #tab-legal_contact:checked ~ .legal-tabs #tab-legal_contact-label {
        border-bottom: none;
    }

    #tab-legal_privacy_policy:checked ~ .legal-tabs #tab-legal_privacy_policy-panel,
    #tab-legal_cookie_preferences:checked ~ .legal-tabs #tab-legal_cookie_preferences-panel,
    #tab-legal_contact:checked ~ .legal-tabs #tab-legal_contact-panel {
        border-bottom: 1px solid #ccc;
    }
}

