/* ==========================================================================
   Structures - Tip pagepart
   ========================================================================== */

/* General
   ========================================================================== */

.legal-tip-pp {
    display: flex;

    flex-direction: row;
    align-items: flex-start;

    .legal-tip-pp__text {
        margin-left: 20px;
        margin-top: 0;
    }
}