/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Colors
   ========================================================================== */
$kumac_black:                 #000000;

$kumac_grey:                  #faf7f5;
$kumac_grey--dark:            #E2E2E2;

$kumac_white:                 #FFFFFF;

$kumac_blue:                  #2B3149;
$kumac_blue--lighter:         #4A90E2;
$kumac_blue--light:           #49A5DD;

$kumac_green:                 #34CC98;