/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Colors
   ========================================================================== */
$black:                 #000000;

$grey:                  #faf7f5;

$white:                 #FFFFFF;

$blue:                  #2B3149;

$green:                 #34CC98;