<div class="legal-tip-pp">
    <div class="legal-container">
        <img src="{{ asset('frontend/img/legal/light_bulb.svg') }}">
        <p>{{ resource.content | replace_url | raw }}</p>
    </div>
</div>
