/* Containers
   ========================================================================== */
.legal-container {
    max-width: $legal_container-width + ($legal_container-padding * 2);
    padding-left: $legal_container-padding;
    padding-right: $legal_container-padding;
    margin: 0 auto;

    @media (min-width: $legal_screen-sm) {
        max-width: $legal_container-width + ($legal_container-padding--sm * 2);
        padding-left: $legal_container-padding--sm;
        padding-right: $legal_container-padding--sm;
    }

    @media (min-width: $legal_screen-md) {
        max-width: $legal_container-width + ($legal_container-padding--md * 2);
        padding-left: $legal_container-padding--md;
        padding-right: $legal_container-padding--md;
    }

    > :last-child[class*='-pp'] {
        margin-bottom: 0;
    }
}

.legal-row {
    display: flex;
    margin: 0 -15px;

    flex-direction: column;

    @media (min-width: $legal_screen-xs) {
        flex: 1 1;
    }

    @media (min-width: $legal_screen-sm) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.legal-col {
    margin: 0 15px;

    font: {
        size: 15px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    @media (min-width: $legal_screen-xss) {
        max-width: none;
        margin: 0 15px 25px;
    }

    @media (min-width: $legal_screen-sm) {
        max-width: 280px;
    }
}

.legal__text-center {
    text-align: center;
}
